#loginBtn, #registerBtn {
    transition: all .1s ease;
}

#registerform {
    position: absolute;
    left:500px;
    margin-top: -60px;
}

#loginform {
    margin-top: 10px;
    margin-bottom: 80px;
}

.forgot-panel {
    margin-top:-300px;
    color:gray;
}

form, .forgot-panel { 
    position: relative;
    transition: all .5s ease;
}

.form-group {
    height: 500px;
}

.form-group input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.5);
}

.form-group label {
  text-transform: uppercase;
}

input.submit {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    color: rgba(255,255,255, 1);
    padding: 8px 0px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: rgba(16,89,255, 1);
}

.forgot-panel {
    position: relative;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    border-top: solid 1px rgba(255,255,255,.3);    
}

.login-register-wrapper {
    height: 600px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    padding:0 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(38, 35, 35, 0.2);
    overflow: hidden; 
    color:#ffffff;
    background: linear-gradient(180deg, rgb(35, 61, 118) 0%, rgb(30, 95, 121) 52%, rgba(62, 42, 42, 0) 82%);
}

.nav-buttons {
    padding-top: 60px;
    opacity: 1;
    margin-bottom: 4em;
    text-align: center;
}

#loginBtn {
    margin-right: 0px;

}

#registerBtn {
    flex: 0.7;
}

button {
    font-size: 1.5em;
    margin-right:1em;
    border:0px;
    cursor: pointer;
}

button:focus {
    outline: 0px;
}

button.active {
    padding-bottom: 10px;
    border-bottom: solid 2px #54565c;
}

.body {
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif; 
    margin:0;
    padding:0;
    background-color: #43454b;
}

.login-btn {
    position: relative;
    flex: 0.5;
    margin-bottom: 0px;
}

.register-btn {

}

